@{
    ViewData["Title"] = "Tipos de Perfil";
}
<div class="d-flex align-items-center">
    <iconify-icon icon="solar:chair-2-broken" class="aside-icon fs-5 me-1"></iconify-icon>
    <h4 class="font-weight-medium  mb-0">Tipos de Perfil</h4>
</div>

<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-muted text-decoration-none" href="">Funcionários
            </a>
        </li>
        <li class="breadcrumb-item text-muted" aria-current="page">Tipos de Perfil</li>
    </ol>
</nav>