@{
    ViewData["Title"] = "Login";
    Layout = "_NoLayout";
}

<div id="main-wrapper" class="auth-customizer-none">
  <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100">
    <div class="position-relative z-index-5">
      <div class="row">
        <div class="col-xl-5 col-xxl-4">
          <div class="authentication-login min-vh-100 bg-body row justify-content-center">
            <div class="col-12">
              <a href="../main/index.html" class="text-nowrap logo-img d-flex align-items-center gap-2 px-4 py-9 w-100">
                <b class="logo-icon">
                  <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                  <!-- Dark Logo icon -->
                  <img src="~/images/logos/logo-icon.svg" alt="homepage" class="dark-logo" />
                  <!-- Light Logo icon -->
                  <img src="~/images/logos/logo-light-icon.svg" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text">
                  <!-- dark Logo text -->
                  <img src="~/images/logos/logo-text.svg" alt="homepage" class="dark-logo ps-2" />
                  <!-- Light Logo text -->
                  <img src="~/images/logos/logo-light-text.svg" class="light-logo ps-2" alt="homepage" />
                </span>
              </a>
            </div>
            <div class="auth-max-width col-sm-8 col-md-6 col-xl-7 px-4">
              <h2 class="mb-1 fs-7 fw-bolder">Welcome to MaterialPro</h2>
              <p class="mb-7">Your Admin Dashboard</p>
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="emailInput">
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwordInput">
                </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="form-check">
                    <input class="form-check-input primary" type="checkbox" id="rememberDevice">
                    <label class="form-check-label text-dark fs-3" for="rememberDevice">
                      Lembrar dispositivo
                    </label>
                  </div>
                  <a class="text-primary fw-medium fs-3" href="../main/authentication-forgot-password.html">Forgot Password ?</a>
                </div>
                <button type="button" class="btn btn-primary w-100 py-8 mb-4" onclick="tryLogin()">Entrar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-xxl-8 d-none d-xl-block">
          <div class="d-none d-xl-flex align-items-center justify-content-center h-100">
            <img src="~/images/backgrounds/user-login.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function tryLogin() {
    let loginInfo = {
      email: document.getElementById('emailInput').value,
      password: document.getElementById('passwordInput').value,
      remember: document.getElementById('rememberDevice').checked
    };

    try {
      const res = await fetch(`/Authentication/TryLoginFromEmployeePage/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(loginInfo),
      });

      if (res.ok) {
        const data = await res.json();
        if (data.redirectUrl) {
          window.location.href = data.redirectUrl;
        }
      } else {
        //handle error
        const data = await res.json();
        if (data.errorMsg) {
          
        }
      }
    }
    catch (err) {
      console.log('error: ', err)
    }
  }
</script>